*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse
project/*
project/
target/
target/*
.project

# VIM
.swp
.swo


# sbteclipse plugin
.target

logs
logs/*

.DS_Store   
.cache-main  
.classpath   
.project     
.settings
.worksheet
bin
/worksheets/

tmp/*
tmp
